<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NotiScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- SAP PRDN -->
    <!--
    <add name="SAPUSConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient"/>
    <add name="SAPCAConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient"/>
    <add name="SAPUPConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient"/>
    -->

    <!-- SAP STG -->
    <!--
    <add name="SAPUSConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient"/>
    <add name="SAPCAConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient"/>
    <add name="SAPUPConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient"/>
    -->

  </connectionStrings>

  <appSettings>
    <!-- Server & Company -->
    <add key="Instance" value="PRDN"/>

    <!-- program Mode -->
    <add key="SpecialRunOnly" value="N"/>

    <!-- SAP Info -->
    <add key="SAP.APIServers" value="***********-01,***********-02,***********-03,***********-04,***********-05"/>
    <add key="SAP.APIPorts" value="4033"/>
    <add key="SAP.LicenseServerName" value="***********:30000"/>
    <add key="SAP.USCompanyName" value="SAPUS"/>
    <add key="SAP.CACompanyName" value="SAPCA"/>
    <add key="SAP.APISSSL" value="No"/>
    <add key="SAP.UserId" value="manager"/>
    <add key="SAP.UserPass" value="***********"/>
    <add key="CardCode" value="***********"/>
    <add key="ItemCode" value="***********"/>

    <!-- Test Mode : TestMod must be "N" in Production -->
    <add key="TestMode" value="Y"/>
    <add key="TestSenderName" value="Customer Care"/>
    <add key="TestSenderEmail" value="customercare@***********.com"/>
    <add key="TestCcRecipientsEmail" value=""/>
    <add key="TestBccRecipientsEmail" value=""/>
    <add key="TestRecipientsEmail" value="***********@***********.com"/>

    <!-- Notification -->
    <add key="MailServer" value="mailint.***********.com"/>
    <add key="SenderName" value="***********"/>
    <add key="SenderEmail" value="appdevservice@***********.com"/>
    <add key="CcRecipientsEmail" value=""/>
    <add key="BccRecipientsEmail" value=""/>
    <add key="RecipientsEmail" value="123@***********.com, 12345@***********.com"/>

    <add key="EmailSubject" value="Notification Scheduler has an issue"/>

    <!-- Email to User -->
    <add key="CustomerSenderName" value="***********"/>
    <add key="CustomerSenderName" value="***********"/>
    <add key="CustomerSenderEmail" value="customercare@.com"/>
    <add key="CustomerRecipientsName" value=""/>
    <add key="CustomerRecipientsEmail" value="***********@***********.com"/>
    <add key="CustomerCcEmail" value=""/>
    <add key="CustomerBccEmail" value=""/>
    <add key="AWSEmailServer" value="email-smtp.us-west-2.amazonaws.com"/>
    <add key="AWSEmailUserName" value="***********"/>
    <add key="AWSEmailPassword" value="***********"/>
    <add key="AWSEmailUserName2" value="***********"/>
    <add key="AWSEmailPassword2" value="***********"/>

    <add key="EmailConetentServer" value ="www.***********.com"/>
    <add key="EmailConetentServerWithProtocol" value ="https://***********.com"/>
    <add key="EmailShipmentPath" value ="***********"/>
    <add key="EmailWillCallPath" value ="***********"/>

    <add key="OrderPathEnglish" value ="/my-account/order-history"/>
    <add key="OrderPathSpanish" value ="/mi-cuenta/order-history"/>
    <add key="OrderPathFrench" value ="/mon-compte/historique-des-commandes"/>
    <add key="CarePhoneNumber" value ="877-627-4787"/>

    <add key="SubjectEnglish" value ="***********"/>
    <add key="SubjectFrench" value ="***********"/>
    <add key="SubjectSpanish" value ="***********"/>
    <add key="TrackingLinkEnglish" value ="***********"/>
    <add key="TrackingLinkFrench" value ="***********"/>
    <add key="TrackingLineSpanish" value ="***********"/>

    <add key="ShipConfirmEmailUS" value ="Y"/>
    <add key="ShipConfirmEmailCA" value ="Y"/>
    <!-- For CA, default=N because it's running with other program -->

  </appSettings>

  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <NotiScheduler.Properties.Settings>
      <setting name="Rootpath" serializeAs="String">
        <value>\\****\****\****\</value>
      </setting>
      <setting name="StageRootpath" serializeAs="String">
        <value>\\****\****\****\</value>
      </setting>
      <setting name="CompleteRootpath" serializeAs="String">
        <value>\\****\****\****\</value>
      </setting>
    </NotiScheduler.Properties.Settings>
  </userSettings>
</configuration>