<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="J6DBConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient" />
    <!-- Stage -->
    <add name="SAPUSConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient"/>
    <add name="SAPCAConnection" connectionString="Data Source=***********;Initial Catalog=***********;User ID=***********;Password=***********" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Server & Company -->
    <add key="Instance" value="PRODUCTION"/>
    <!-- SAP Info -->
    <add key="SAP.BaseURL" value="http://***********:4033/"/>
    <add key="SAP.ServerName" value="***********"/>
    <add key="SAP.LicenseServerName" value="***********:30000"/>
    <add key="SAP.USCompanyName" value="***********"/>
    <add key="SAP.CACompanyName" value="***********"/>
    <add key="SAP.UserId" value="***********"/>
    <add key="SAP.UserPass" value="***********"/>

    <!-- Notification -->
    <add key="SenderName" value="***********"/>
    <add key="SenderEmail" value="appdevservice@***********.com"/>
    <add key="SenderEmail" value="appdevservice@***********.com"/>
    <add key="EmailRecipients" value="***********@***********.com"/>
    <add key="MailServer" value="mailint.univera.com"/>

  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>