<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- File info -->
  <add key="Rootpath" value="C:\Users"/>
  <add key="StageRootpath" value="C:\Users\Stage\Notifications"/>
  <add key="CompleteRootpath" value="C:\Users\Complete\Notifications"/>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>